<!DOCTYPE html>
<html >
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<title>Chambitas - Tu Mejor Opción</title>

 		<link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700" rel="stylesheet">
 		<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css"/>
 		<link type="text/css" rel="stylesheet" href="css/slick.css"/>
 		<link type="text/css" rel="stylesheet" href="css/slick-theme.css"/>
 		<link type="text/css" rel="stylesheet" href="css/nouislider.min.css"/>
 		<link rel="stylesheet" href="css/font-awesome.min.css">
 		<link type="text/css" rel="stylesheet" href="css/style.css"/>
		 <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">

    </head>
	<body>
		<header>
			<div id="top-header">
				<div class="container">
					<h1>Chambitas - Tu mejor opción para darte a conocer</h1>
				</div>
			</div>

			<div id="header">
				<div class="container">
					<div class="row">
						<div class="col-md-3">
							<div class="header-logo">
								<a href="#" class="logo">
									<img src="img/logo.png" alt="" />
								</a>
							</div>
						</div>

						<div class="col-md-6">
							<div class="header-search">
								<form>
									<input class="input" placeholder="Buscar Aqui">
									<button class="search-btn">Buscar</button>
								</form>
							</div>
						</div>

						<div class="col-md-3 clearfix">
							<div class="header-ctn">
								 <!-- lista de deseos -->
								 <div>
									<a href="#">
									  <i class="fa fa-heart-o"></i>
									  <div class="qty">0</div>
									</a>
								  </div>
								  <!-- Login -->
									<a href="#">
										<i class="fa fa-user-o"></i>
									</a>
								 <!-- Carrito-->
								<div class="dropdown">
									<a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
										<i class="fa fa-shopping-cart"></i>
										<div class="qty">0</div>
									</a>
									<div class="cart-dropdown">
										<div class="cart-list">
											<div class="product-widget">
												<div class="product-img"> </div>
												<button class="delete"><i class="fa fa-close"></i></button>
											</div>

											<div class="product-widget">
												<div class="product-img"></div>												
											</div>
										</div>
										<div class="cart-summary">
											<small> Articulos seleccionados</small>
											<h5>SUBTOTAL: Q 0</h5>
										</div>
										<div class="cart-btns">
											<a href="#">Ver Carrito</a>
											<a href="#">Revisar  <i class="fa fa-arrow-circle-right"></i></a>
										</div>
									</div>
								</div>
								<div class="menu-toggle">
									<a href="#">
									  <i class="fa fa-bars"></i>
									  <span>Menu</span>
									</a>
								</div>	
							</div>
						</div>
					</div>
				</div>
			</div>
		</header>

		<nav id="navigation">
			<div class="container">
				<div id="responsive-nav">
					<ul class="main-nav nav navbar-nav">
						<li><a href="index.html">Inicio</a></li>
						<li><a href="store_notebook.html">Empresas</a></li>
						<li><a href="store_smartphones.html">Servicios por Ubicación</a></li>
						<li><a href="store_camaras.html">Contrataciones</a></li>
						<li class="active"><a href="store_accesorios.html">Reclamos</a></li>
						<li class="active"><a href="store_accesorios.html">Contactos</a></li>
					</ul>
				</div>
			</div>
		</nav>

		<div id="breadcrumb" class="section">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<ul class="breadcrumb-tree">
							<li><a href="#">Todos los productos</a></li>
							<li><a href="#">Categorias</a></li>
							<li class="active">Subcategorias</li>
						</ul>
					</div>
				</div>
			</div>
		</div>

		<div class="section">
			<div class="container">
				<div class="row">
					<div class="col-md-5 col-md-push-2">
						<div id="product-main-img">
							<div class="product-preview">
								<img src="./img/AuriGamer.png" alt="">
							</div>

							<div class="product-preview">
								<img src="./img/AuriGamer.png" alt="">
							</div>

							<div class="product-preview">
								<img src="./img/AuriGamer.png" alt="">
							</div>

							<div class="product-preview">
								<img src="./img/AuriGamer.png" alt="">
							</div>
						</div>
					</div>

					<div class="col-md-2  col-md-pull-5">
						<div id="product-imgs">
							<div class="product-preview">
							  <img src="./img/AuriGamer.png" alt="">
							</div>
							<div class="product-preview"> </div>
							<div class="product-preview"> </div>
						</div>
					</div>
					<div class="col-md-5">
						<div class="product-details">
						  <h2 class="product-name">Nombre Aplicante </h2>
						  <p>Pequeña Descripcion </p>
							<div>
							  <h3 class="product-price">$790 </h3>
							  <h3 class="product-price"> <del class="product-old-price">$900</del></h3>
							  <span class="product-available">En Stock</span>
							</div>
							<div>
								<div class="product-rating">
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star-o"></i>
								</div>
							</div>
							<div class="product-options">
								<label>Color	
							  </label>
						  </div>

							<div class="add-to-cart">
								<button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> añadir al carrito</button>
							</div>
							<ul type="circle">
								<li>-Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit</li>
								<li>-Lorem ipsum dolor sit amet</li>
								<li>-Consectetur adipiscing elit</li>
								<li>-Nulla quam velit, vulputate eu pharetra nec </li>
								<li>-Mattis ac neque</li>
								<li>-Máxima de salida: 50mW </li>
							</ul>
						</div>
					</div>

					<div class="col-md-12">
						<div id="product-tab">
							<ol class="list-group list-group-light list-group-numbered">
								<li class="list-group-item d-flex justify-content-between align-items-start">
								  <div class="ms-2 me-auto">
									<div class="fw-bold">Subheading</div>
									Content for list item
								  </div>
								</li>
								<li class="list-group-item d-flex justify-content-between align-items-start">
								  <div class="ms-2 me-auto">
									<div class="fw-bold">Subheading</div>
									Content for list item
								  </div>
								</li>
								<li class="list-group-item d-flex justify-content-between align-items-start">
								  <div class="ms-2 me-auto">
									<div class="fw-bold">Subheading</div>
									Content for list item
								  </div>
								</li>
								<li class="list-group-item d-flex justify-content-between align-items-start">
									<div class="ms-2 me-auto">
									<div class="fw-bold">Review</div>
								<div class="product-rating">
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star-o"></i>
								  </div>
								</div>
							  </ol>
							<div>
							<div class="tab-content">
								<div id="tab1" class="tab-pane fade in active">
									<div class="row">
										<div class="col-md-12">
										  	
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="section">
			<div class="container">
				<div class="row">

					<div class="col-md-12">
						<div class="section-title text-center">
							<h3 class="title">PRODUCTOS RELACIONADOS</h3>
						</div>
					</div>

					<div class="col-md-3 col-xs-6">
						<div class="product">
							<div class="product-img">
								<img src="./img/product01.png" alt="">
								<div class="product-label">
									<span class="new">Sale</span>
								</div>
							</div>
							<div class="product-body">
								<p class="product-category">Nombre</p>
								<h3 class="product-name"><a href="product_pc4_bangho.html">Descripcion</a></h3>
								<h4 class="product-price">Q00 <del class="product-old-price">Q00</del></h4>
								<div class="product-rating">
									<i class="fa fa-star"></i>
								</div>
								<div class="product-btns">
									<button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span class="tooltipp">añadir a lista de deseos</span></button>
									<button class="add-to-compare"><i class="fa fa-exchange"></i><span class="tooltipp">comparar</span></button>
									<button class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">vista rapida</span></button>
								</div>
							</div>
							<div class="add-to-cart">
								<button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i>añadir al carrito</button>
							</div>
						</div>
					</div>

					<div class="col-md-3 col-xs-6">
						<div class="product">
							<div class="product-img">
								<img src="./img/product02.png" alt="">
								<div class="product-label">
									<span class="sould-out">Agotado</span>
								</div>
							</div>
							<div class="product-body">
								<p class="product-category">Nombre</p>
								<h3 class="product-name"><a href="#">Descripcion</a></h3>
								<h4 class="product-price">Q00 <del class="product-old-price">Q00</del></h4>
								<div class="product-rating">
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
								</div>
								<div class="product-btns">
									<button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span class="tooltipp">añadir a lista de deseos</span></button>
									<button class="add-to-compare"><i class="fa fa-exchange"></i><span class="tooltipp">comparar</span></button>
									<button class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">vista rapida</span></button>
								</div>
							</div>
							<div class="add-to-cart">
								<button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i>añadir al carrito</button>
							</div>
						</div>
					</div>

					<div class="clearfix visible-sm visible-xs"></div>

					<div class="col-md-3 col-xs-6">
						<div class="product">
							<div class="product-img">
								<img src="./img/product03.png" alt="">
								<div class="product-label">
									<span class="new">Nuevo</span>
								</div>
							</div>
							<div class="product-body">
								<p class="product-category">Nombre</p>
								<h3 class="product-name"><a href="product_Ariculasony.html">Detalles</a></h3>
								<h4 class="product-price">Q00 <del class="product-old-price">Q00</del></h4>
								<div class="product-rating">
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
								</div>
								<div class="product-btns">
									<button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span class="tooltipp">añadir a lista de deseos</span></button>
									<button class="add-to-compare"><i class="fa fa-exchange"></i><span class="tooltipp">comparar</span></button>
									<button class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">vista rapida</span></button>
								</div>
							</div>
							<div class="add-to-cart">
								<button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i>añadir al carrito</button>
							</div>
						</div>
					</div>

					<div class="col-md-3 col-xs-6">
						<div class="product">
							<div class="product-img">
								<img src="./img/product04.png" alt="">
								<div class="product-label">
									<span class="new">Nuevo</span>
								</div>
							</div>
							<div class="product-body">
								<p class="product-category">Nombre</p>
								<h3 class="product-name"><a href="product_tablet-sony.html">Detalles </a></h3>
								<h4 class="product-price">Q00 <del class="product-old-price">Q00</del></h4>
								<div class="product-rating">
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
								</div>
								<div class="product-btns">
									<button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span class="tooltipp">añadir a lista de deseos</span></button>
									<button class="add-to-compare"><i class="fa fa-exchange"></i><span class="tooltipp">comparar</span></button>
									<button class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">vista rapida</span></button>
								</div>
							</div>
							<div class="add-to-cart">
								<button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i>añadir al carrito</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		  <!-- pie de pagina -->
		  <footer id="footer">
			<!-- pie de pagina supeior -->
			<div class="section">
			  <!-- container -->
			  <div class="container">
				<!-- fila -->
				<div class="row">
				  <div class="col-md-3 col-xs-6">
					<div class="footer">
					  <h3 class="footer-title">Need help?</h3>
					  <p>
						
					  </p>
					</div>
				  </div>
	  
				  <div class="col-md-3 col-xs-6">
					<div class="footer">
					  <h3 class="footer-title">Corporate Info</h3>
					  <ul class="footer-links">
						<li><a href="#">About Us</a></li>
						<li><a href="#">Brands</a></li>
						<li><a href="#">Affiliates</a></li>
						<li><a href="#">Investors</a></li>
						<li><a href="#">Cookies</a></li>
					  </ul>
					</div>
				  </div>
	  
				  <div class="clearfix visible-xs"></div>
	  
				  <div class="col-md-3 col-xs-6">
					<div class="footer">
					  <h3 class="footer-title">Informacion</h3>
					  <ul class="footer-links">
						<li><a href="#">Gift Card</a></li>
						<li><a href="#">Buy Gift Cards</a></li>
						<li><a href="#">Redeem Card</a></li>
					  </ul>
					</div>
				  </div>
	  
				  <div class="col-md-3 col-xs-6">
					<div class="footer">
					  <h3 class="footer-title">Location</h3>
					  <ul class="footer-links">
						<li><a href="#">Mi cuenta</a></li>
					  </ul>
					<div class="newsletter">
						<ul class="newsletter-follow">
							<a href="#"><i class="bi bi-instagram"></i></a>
							<a href="#"><i class="bi bi-facebook"></i></a>
							<a href="#"><i class="bi bi-youtube"></i></a>
							<a href="#"><i class="bi bi-twitter"></i></a>
						</ul>			  
				</div>
				<!-- /fila -->
			  </div>
			  <!-- /container -->
			</div>
			<div id="bottom-footer" class="section">
			  <div class="container">
				<!-- fila -->
				<div class="row">
				  <div class="col-md-12 text-center">
					<span class="saludo">
						<p>© 2023 Chambitas. Todos los derechos reservados.</p>
					</span>
				  </div>
				</div>
				<!-- /fila -->
			  </div>
			  <!-- /container -->
			</div>
			<!-- /pie de pagina inferior -->
		  </footer>
		  <!-- /pie de pagina -->

		<!-- jQuery Plugins -->
		<script src="js/jquery.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<script src="js/slick.min.js"></script>
		<script src="js/nouislider.min.js"></script>
		<script src="js/jquery.zoom.min.js"></script>
		<script src="js/main.js"></script>
		

	</body>
</html>