<!doctype html>
<html lang="en">

<head>
  <title>Elements</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS v5.2.1 -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

<!--Bootstrap Icon-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <!--Hoja de Estilos propios-->
    <link rel="stylesheet"type="text/css" href="style.css">
    
</head>

<body>
  <header class="bg-light container p-md-0 mt-md-2 pt-md-4">
    <h5 class="bg-sb-celeste text-light text-center p-md-2">Chambitas tu mejor opción en oportunidades laborales</h5>
    <nav class="navbar navbar-expand-lg">
      <div class="collapse navbar-collapse ">
      <ul class="navbar-nav me-auto px-2"id="nav-sb"  >
        <li class="nav-item">
          <a href="#" class="nav-link">Inicio</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">Categorias</a> 
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">Empresas</a> 
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">Servicios <br> Por Ubicacion</a> 
        </li>
        <li class="nav-item ">
          <img src="../icons/Chambitas.png" height="35" width="200" style="object-fit: cover;">
        </li>
        <li class="nav-item dropdown">
          <a href="#" class="nav-link dropdown-toggle" role="button" aria-expanded="false" data-bs-toggle="dropdown" >Guatemala</a>
          <ul class="dropdown-menu">
            <li>
              <a href="#" class="dropdown-item">Costa Rica</a>
              <a href="#" class="dropdown-item">Panama</a>
              <a href="#" class="dropdown-item">El Salvador</a>
            </li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a href="#" class="nav-link dropdown-toggle" role="button" aria-expanded="false" data-bs-toggle="dropdown" >QTZ</a>
          <ul class="dropdown-menu">
            <li>
              <a href="#" class="dropdown-item">US$</a>
              <a href="#" class="dropdown-item">MX$</a>
              
            </li>
          </ul>
        </li>
        <li><i class="bi bi-search nav-link"></i></li>
        <li><a class="bi bi-person nav-link" href="/templates/login/login.html"></a></li>
        <li><i class="bi bi-heart nav-link"></i></li>
        <li><i class="bi bi-cart nav-link"></i></li>
      </ul>
      </div>
      
    </nav>
  </header>
<main>
  <div class="content-fluid">
  <div class="container">
    <div class="row">
      <div class="col col-6 offset-3">
        <div class="card">
          <div class="card-header text-center">
            <h2>¡Gracias!</h2>
            Tu orden se ha completado satisfacoriamente
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col col-2">
                <img src="images/success.png" height="65"/>
              </div>
              <div class="col col-10">
                An email receipt, including all details about your order, has been sent to the email address you provided. Please keep it for your records.
              <br><br>
              You can visit My Account page at any time to check the status of your order. Or click here to print a copy of your receipt.
              <!-- <blockquote class="blockquote mb-0">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer>
              
              </blockquote> -->
              <br>
              <br>
              <button type="button" class="btn btn-dark">Go back to Shop</button>
              </div>
            </div>
            
          </div>
        </div>
      </div>
      
    </div>
    
  </div>
  <br>
  </div>
</main>
<br><br>
  <footer class="d-flex justify-content-evenly bg-sb-blue text-light pt-5 pb-md-5">
    <div>
      <h6 class="fw-bolder">¿Necesitas ayuda?</h6>
      <button type="button" class="btn btn-light mt-md-3">Contactanos</button>
    </div>
    <div>
      <h6 class="fw-bolder">Atención al cliente</h6>
      <h6 class="fw-normal pt-md-3">Pagos de membresía</h6>
      <h6 class="fw-normal pt-md-2">Terminos de servicio</h6>
      <h6 class="fw-normal pt-md-2">Políticas de privacidad</h6>
    </div>
    <div>
      <h6 class="fw-bolder">Información corporativa</h6>
      <h6 class="fw-normal pt-md-3">Sobre nosotros</h6>
      <h6 class="fw-normal pt-md-2">Empresas afiliadas</h6>
      <h6 class="fw-normal pt-md-2">Afiliados</h6>
      <h6 class="fw-normal pt-md-2">Cookies</h6>
    </div>
    <div>
      <h6>Localización</h6>
      <div class="d-flex justify-content-between pt-md-3">
        <img src="images/bandera.svg" alt="bandera-gt" class="img-sb-gt">
        <p>Guatemala</p>
      </div>
      
    </div>
    <div class="pt-md-5">
      <i class="bi bi-instagram icon-sb"></i>
      <i class="bi bi-facebook icon-sb"></i>
      <i class="bi bi-youtube icon-sb"></i>
      <i class="bi bi-twitter icon-sb"></i>
    </div>
  </footer>
  <!-- Bootstrap JavaScript Libraries -->
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
    integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
  </script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
    integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">
  </script>
</body>

</html>