<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacto</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    <header>
        <div class="contenedor-image">
            <a href="#">
                <i class="fas fa-arrow-left mi-icono"></i> <!-- Ícono de flecha -->
            </a>
            <img src="Chambitass.png" alt="Chambitas" class="imagen-centrada">
        </div>
    </header>
    <div>
       
     
        <form class="form">
            <p class="title">Formulario de contacto</p>
            <p class="message">para una experiencia personalizada, Contáctanos</p>
                <div class="flex">
                <label>
                    <input class="input" type="text" placeholder="john" required="">
                    <span>Nombre</span>
                </label>
        
                <label>
                    <input class="input" type="text" placeholder="López" required="">
                    <span>Apellido</span>
                </label>
            </div>  
        
            <label>
                <input class="input" type="email" placeholder="john@gmail.com" required="">
                <span>Correo</span>
            </label> 
        
            <label>
                <textarea class="input" type="textarea" placeholder="Escribe un mensaje" required=""></textarea>
                <span>Mensaje</span>
            </label>
            <button class="btnc" type="submit" value="Crear Cuenta"></button>
          
        </form>

    </div>
    <footer class="footer">
    
        <div class="texto-redes">
          <span>Contáctanos en nuestras redes sociales:</span>
        </div>
        
        <div>
          <a href="#" class="social-icon">
            <i class="fab fa-facebook-f"></i>
          </a>
          <a href="#" class="social-icon">
            <i class="fab fa-twitter"></i>
          </a>
          <a href="#" class="social-icon">
            <i class="fab fa-instagram"></i>
          </a>
          <a href="#" class="social-icon">
            <i class="fab fa-youtube"></i>
          </a>
        </div>
    
        <div class="derechos">
          <p>© 2023 Chambitas. Todos los derechos reservados.</p>
          <a class="text-reset fw-bold" href="https://mdbootstrap.com/"></a>
        </div>
      </footer>
</body>
</html>
